{% load static %}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Cairo|Cinzel|cighteous" rel="stylesheet">
	<title>Daftar Buku Menarik</title>
	<style type="text/css">
		h1{
			font-family: 'Cinzel',  sans-serif;
		}
		th{
			font-family: 'Cinzel';
		}
		td{

		}
		#Favourite{
			font-family: 'Cairo', cursive;
			font-size: 20px;

		}
	</style>
</head>
<body>
	<div class="row">
		<div class="col-sm-6">
			<h1>Daftar Buku Menarik Bulan ini</h1>
			<p1 id="Favourite">
				Jumlah favorit :
				<h1 id= "Jumlahfavorit"> 0</h1>
			</p1>
		</div>
		<div class="col-sm-6">
			<button class="btn btn-danger navbar-btn submit" id="quilting">Quilting</button>
			<button class="btn btn-danger navbar-btn submit" id="sutradara" >Sutradara</button>
			<button class="btn btn-danger navbar-btn submit" id="doktor">Doktor</button>

		</div>
	</div>
	
	<table class="table table-hover">
		<thead id="#atastable">
			<tr>
			  <th scope="col">No</th>
			  <th scope="col">Title</th>
			  <th scope="col">Author</th>
			  <th scope="col">Publisher</th>
			  <th scope="col">Thumbnail</th>
			  <th scope="col">Description</th>
			  <th scope="col">Page</th>
			  <th scope="col">Be My Favourite</th>
			</tr>
		</thead>
		<tbody id="isitable" >
			
		</tbody>
	</table>
	{% block scripts%}
	<script type="text/javascript">
		$(document).ready(function(){
			var id ;
			$(".submit").click(function(){
				//ambil id
				id = $(this).attr("id");	
				console.log(id);
				var $list = $('#isitable');
				console.log("masuk1")
//				ngeremove row yg sudah ada.
				$(".hore").remove();

				$.ajax({
					url: {% autoescape off %} {{ books }}+ id {% endautoescape %},
					//biar yang muncul nya itu link dari books nya
					dataType: 'json',
					success: function(data){
						console.log(data);
						console.log("masukdata");
						$.each(data.items,function(key,value){
							var xx;
							if (value.volumeInfo.hasOwnProperty('imageLinks')) {
								xx = value.volumeInfo.imageLinks.smallThumbnail;
							} else{
								xx = 'https://cdn-images-1.medium.com/max/1024/1*OQXqTrTpXynrt85LeuaCnA.jpeg" style="width:80px;height:80px;'
							}
							$list.append('<tr class="hore"><th scope="row">'+(key+1)+'</th>'+'<td>'+value.volumeInfo.title+'</td>'
								+'<td>'+value.volumeInfo.authors+'</td>'+'<td>'+value.volumeInfo.publisher+'</td>'
								+'<td>'+'<img src="'+xx+'">'+'</td>'+'<td>'+value.volumeInfo.description+'</td>'+'<td>'+value.volumeInfo.pageCount+'</td>'+ '<td> <img src= "https://cdn2.iconfinder.com/data/icons/ster-objects/154/favorite-favorites-favourite-star-512.png" style = "width:20px;height:20px;" id = "bintang'+(key+1)+'" onclick="handleClick(event)"></td> </tr>'

								);
						});
					}
				});
			
		});

			});
			
		var counter = 0;
		function handleClick(evt) {
		  var button = evt.target || evt.srcElement;
		  if (button.src == "https://cdn2.iconfinder.com/data/icons/ster-objects/154/favorite-favorites-favourite-star-512.png") {
		    button.src = "https://cdn4.iconfinder.com/data/icons/basic-dashboard/512/Basic_Dashboard_UI_favourite_star_award-512.png";
		    counter+=1;
		    $("#Jumlahfavorit").html(counter);
		  } else{//kalau sudah di klik dan berwarna di ubah ke biasa lagi
		  	button.src ="https://cdn2.iconfinder.com/data/icons/ster-objects/154/favorite-favorites-favourite-star-512.png";
		  	counter-=1;
		    $("#Jumlahfavorit").html(counter);
		  }
		}
	</script>
	{% endblock scripts %}


</body>
</html>