{% load static%}
<!DOCTYPE html>
<html>
<head>
	<header>{% include "mynavbar.html" %}</header>
	<link rel="stylesheet" type="text/css" href="{% static 'mystyle.css' %}">
	<title>Subcribe</title>
</head>
<body>
	<div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3" style="background-color:transparent" align="">
                <h2 align="center">Form Subscription</h2>
                <form method="post" id="formsubs" >
                    {% csrf_token %}
                    {{ form }}
                    <p id="info"></p>
                    <br>
                    <button type="submit" class="btn btn-primary pull-right" id="button-subs">Subscribe</button>

                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript">
    	$(document).ready(function(){
    		var nama = false;
    		var email = false;
    		var password = false;
    		$("#button-subs").attr('disabled',true);
    		$("#id_nama").change(function(){
    			if($(this).val() != ''){
    				nama = true;
    			}else{
    				nama = false;
    			}
    			check();
    		});
    		$("#id_email").change(function(){
    			if($(this).val() != ''){
    				email = true;
    			}else{
    				email=false;
    			}
    			check();
    		});
    		$("#id_password").change(function(){
    			if($(this).val() != ''){
    				password = true;
    			}else{
    				password =false;
    			}
    			check();
    		});
    		

    		function check(){
    			if(nama && email && password){
    				$("#button-subs").attr('disabled',false);
    			}else{
    				$("#button-subs").attr('disabled',true);
    			}
    		}


    	});
    	$(document).on('blur','#id_email',function(e){
    		e.preventDefault();
    		$.ajax({
    			url:'/story9/validasi/'+ $('#id_email').val(), //kalau error subscribeyuk aja atau pake bahasa django itu

    			success:function(data){
    				if(data.ada){
    					$("#info").html(data.message);
    					$("#button-subs").attr('disabled',true);
    				}else{
    					$("#info").html(data.message);
    					$("#button-subs").attr('disabled',false);
    				}
    			}
    		});

    	});

    	$("#button-subs").click(function(e){
    		e.preventDefault();
    		var info = {
    			email:$('#id_email').val(),
    			nama:$('#id_nama').val(),
    			password:$('#id_password').val(),
    			csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
    		}
    		$.ajax({
    			type:'POST',
    			url:'/story9/subscribeclick/',
    			data:info,
    			success:function(data){
    				alert('kamu berhasil subscribe ini');
    				
    			}
    		});

    	});
    </script>
</body>
</html>