
		body{
			background-color: white;
		}
		.navbar .container-fluid{
			background-color: #323299;
			border-color: #323299;
		}
		#button-white{
			background-color: white;
			border-color: white;
			color: black;
		}
		.navbar-brand{
			font-family: impact;
			font-size: 24px;
			color: white !important;
		}
		.picture-main {
		  background: url("http://www.bde.enscmu.uha.fr/wp-content/uploads/2017/07/photo-header.jpg") no-repeat 50%;
		  margin-top: -21px;
		  width: 100%;
		  height: 400px;
		}
		.cover{
		  background-size: cover;
		}

		/* Style the buttons that are used to open and close the accordion panel */
		.accordion {
		    background-color: #ffffff;
		    color: #444;
		    cursor: pointer;
		    padding: 18px;
		    width: 100%;
		    text-align: left;
		    border: none;
		    outline: none;
		    transition: 0.4s;
		}

		/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
		.active, .accordion:hover {
		    background-color: #f41111;
		}

		/* Style the accordion panel. Note: hidden by default */
		.panel {
		    padding: 0 18px;
		    background-color: white;
		    overflow: hidden;
		}
		#container-bawah{
			background-color:red;
		}
		#button-green{
			background-color: green;
			border-color: green;
		}
		#button-normal{
			background-color: white;
			border-color: white;
			color: black;	
		}
		#loader{
			display:    block;
		    position:   fixed;
		    z-index:    1000;
		    top:        0;
		    left:       0;
		    height:     100%;
		    width:      100%;
		    background: rgba( 255, 255, 255, .8 ) 
                url('https://loading.io/spinners/rolling/lg.curve-bars-loading-indicator.gif') 
                50% 50% 
                no-repeat;
		}
		#badan-konten{
			display: none;
		}