body{
			background-color: white;
		}
		.navbar .container-fluid{
			background-color: #323299;
			border-color: #323299;
		}
		.navbar-brand{
			font-family: impact;
			font-size: 24px;
			color: white !important;
		}
		#button-white{
			background-color: white;
			border-color: white;
			color: black;
		}
			#button-green{
			background-color: green;
			border-color: green;
		}
		#button-normal{
			background-color: white;
			border-color: white;
			color: black;	
		}